{% extends 'base.html' %}

{% block title %}Cambio de contraseña{% endblock title %}

{% block content %}
    <h1>Cambio de contraseña</h1>
    <p>Por razones de seguridad, introduzca primero su contraseña antigua y luego introduzca
    la nueva contraseña dos veces para verificar que la ha escrito correctamente.</p>
    
    <form method="POST">
        {% csrf_token %}
        <table>
            {{ form.as_table }}
        </table>
        <input class="btn btn-success" type="submit" value="Change my password">
</form>
{% endblock content %}