{% extends 'base.html' %}

{% block titulo %}Buscar escribano{% endblock titulo %}

{% block content %}
    <h1>Buscar escribano</h1>

    <form method="GET">
        <p>
        <input type="text" class="form-control" placeholder="Buscar por provincia o ciudad" name="buscar" value="{{ request.GET.buscar }}">
        </p>
        <button type="submit">Buscar</button>
    </form>
    <br>

    <h2>Lista de escribanos registrados</h2>
    <div class="lista">
        <ul>
            {% for escribano in escribanos_list %}
                <li> <a href="{% url 'principal:detalle_escribano' escribano.pk %}">
                    {% for usuario in usuarios_list%}
                        {% if usuario.id == escribano.pk %}
                            {{ usuario.apellido }}, {{ usuario.nombre }} 
                        {% endif %}
                    {% endfor %}</a>
                <br><br> <p><strong>Provincia:</strong> {{escribano.provincia}}
                <br><strong>Ciudad:</strong> {{escribano.ciudad}} </li></p><br>
            {% endfor %}
        </ul>
    </div>

{% endblock content %}

