{% extends 'base.html' %}

{% block titulo%}Cargar documento{%endblock titulo%}

{% block extraccs%}{% endblock extraccs%}

{% block content%}
    <h1>Cargar documento</h1>
    <form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
        <table>
            {{ form.as_table }}
        </table>
        <p>En el siguiente paso será posible subir el archivo</p>
        <button type="submit">Cargar</button>
    </form>
    
{% endblock content%}


{% block extrajs%}{% endblock extrajs%}
