<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block titulo%} Cargar documento {%endblock titulo%}
    {% block extraccs%}
    {% endblock extraccs%}
</head>
<body>
    {% block body%}
        <h1>Cargar documento</h1>

        <form>
            <label for="Nombre">Nombre del cliente:</label><br>
            <input type="text" id="nombre" name="nombre"><br>
            <label for="Apellido">Apellido del cliente:</label><br>
            <input type="text" id="apellido" name="apellido"><br>
            <label for="Fecha">Fecha:</label><br>
            <input type="datetime-local">
        </form>

    {% endblock body%}


    {% block extrajs%}
    {% endblock extrajs%}
</body>
</html>