{% extends 'base.html' %}

{% block titulo %}Detalles del documento{% endblock titulo %}

{% block content %}
    <p> <strong>Propietario del documento:</strong> {{ documento.cliente }}</p>
    <p> <strong>Título:</strong> {{ documento.titulo }}</p>
    {% if documento.descripción != '' %}
        <p> <strong>Descripción:</strong></p>
        <div class="descripcion">{{ documento.descripción }}</div><br>
    {% endif %}

    <p> <strong>Código de identificación:</strong> {{ documento.slug }}</p>
    <p> <strong>Cantidad de páginas:</strong> {{ documento.paginas }}</p>
    <p> <strong>Escribano:</strong> {{ documento.escribano }}</p>
    {% if documento.archivo %}
        <a href= "{{ documento.archivo.url }}">Ver archivo (pdf)</a>
    {% else %}
        <div class='small'>No se ha encontrado ningún documento.</div>
    {% endif %}

    {% if usuario_logueado.is_escribano %}
    <br>
    <br>
        <a class="boton" href="{% url 'principal:editar_documento' documento.slug %}">Añadir archivo y editar documento</a>
        <br><br><br>
    {% endif %}
    
{% endblock content %}