{% extends 'base.html' %}

{% block titulo %}
    {% for usuario in usuarios_list %}
        {% if usuario.id == escribano.pk %}
            {{ usuario.apellido }}, {{ usuario.nombre }} 
        {% endif %}
    {% endfor %}
{% endblock titulo %}

{% block content %}

<h2>
    {% for usuario in usuarios_list%}
        {% if usuario.id == escribano.pk %}
            {{ usuario.apellido }}, {{ usuario.nombre }} 
        {% endif %}
    {% endfor %}
</h2>
<p> Matrícula profesional: {{ escribano.matricula }}</p>
<p> Provincia: {{ escribano.provincia }}</p>
<p> Ciudad: {{ escribano.ciudad }}</p>
<p> Calle: {{ escribano.calle }}</p>
<p> Altura: {{ escribano.altura }}</p>
<p> Piso: {{ escribano.piso }}</p>
<p> Puerta: {{ escribano.numeroPuerta }}</p>
<br>
{% if usuario_logueado.is_escribano != True %}
    <a href="{% url 'principal:confirmar_turno' escribano.pk %}">Solicitar un turno</a>
{% endif %}

{% endblock content%}