{% extends 'base.html' %}

{% block titulo %}Detalles del documento{% endblock titulo %}

{% block content %}
    <p> Propietario del documento: {{ documento.cliente }}</p>
    <p> Título: {{ documento.titulo }}</p>
    <p> Descripción: {{ documento.descripcion }}</p>
    <p> Código de identificación: {{ documento.slug }}</p>
    <p> Cantidad de páginas: {{ documento.paginas }}</p>
    <p> Escribano: {{ documento.escribano }}</p>
    {% if documento.archivo %}
        <a href= "{{ documento.archivo.url }}">Ver archivo (pdf)</a>
    {% else %}
        <p>No se ha encontrado ningún documento.</p>
    {% endif %}

    {% if usuario_logueado.is_escribano %}
        <a href="{% url 'principal:editar_documento' documento.slug %}">Añadir archivo y editar documento</a>
    {% endif %}
    
{% endblock content %}