{% extends 'base.html' %}
{% load static %}

{%block titulo%}Inicio{%endblock titulo%}

{% block content %}
<body>
    <img src="{% static 'logo2.png' %}" alt="Logo del sitio" width="270" height="80">
    <div class="descripcion">
    <p>LegalDocs es un sitio donde puedes encontrar escribanos y solicitarles turno para legalizar tus documentos.</p>
    <p>Una vez legalizados, tus documentos serán cargados en la plataforma y accesibles mediante un link para que
    puedas compartirlos y así respaldar todas tus copias.</p>
</body>
{% endblock content %}