{% extends 'base.html' %}

{% block titulo %}Documentos{% endblock titulo %}

{% block content %}
    <h1>Documentos</h1>
    <div class="lista">
        <ul>
            {% for documento in documentos_list %}
                <li>
                    <p><strong>Título:</strong></p>
                    <a href=" {% url 'principal:detalle_documento' documento.slug %} " >{{ documento.titulo }}</a>
                    <br><br>
                    <p><strong>Código:</strong> {{documento.slug}} </p>
                    <p><strong>Cantidad de páginas:</strong> {{ documento.paginas }}</p>
                    {% if not documento.archivo %}
                        <p><strong>Archivo no cargado</strong></p>
                    {% endif %}
                </li>
                <br><br>
            {% endfor %}
        </ul>
    </div>
{% endblock content %}