{% extends 'base.html' %}

{% block titulo %}Mis turnos{% endblock titulo %}

{% block content %}
    <h1>Mis turnos</h1>
    <div class="lista">
        <ul>
            <h2>Próximos</h2>
            {% for turno in turnos_list %}
                {% if turno.fecha != None and turno.hora != None and turno.fecha > now %}
                    <li>
                        {% if usuario.is_escribano %}
                            <p><strong>Nombre del cliente:</strong><br>{{ turno.cliente }}</p>
                        {% else %}
                            <p><strong>Nombre del escribano: </strong></p>
                            <a href=" {% url 'principal:detalle_escribano' turno.escribano_id %} " >{{ turno.escribano }}</a>
                            <br><br><br>
                        {% endif %}
                    <p>Código: {{ turno.id }}</p>
                    <p><strong>Fecha:</strong> {{ turno.fecha }}<br><br>
                    <strong>Hora:</strong> {{ turno.hora }}</p>
                    </li>
                    <br><br>
                {% endif %}
            {% endfor %}

            <br><br>
            <h2>Sin confirmar</h2>
            {% for turno in turnos_list %}
                {% if turno.fecha == None and turno.hora == None %}
                    <li>
                    {% if usuario.is_escribano %}
                        <p><strong>Nombre del cliente:</strong><br>{{ turno.cliente }}</p>
                    {% else %}
                        <p><strong>Nombre del escribano: </strong></p>
                        <a href=" {% url 'principal:detalle_escribano' turno.escribano_id %} " >{{ turno.escribano }}</a>
                        <br><br><br>
                    {% endif %}
                    <p>Código: {{ turno.id }}</p>
                    {% if usuario.is_escribano %}
                        <a href="{% url 'principal:editar_turno' turno.pk %}" class="link">Añadir fecha y horario</a></li>
                        <br><br>
                    {% else %}
                        <p>Aún no se ha confirmado el horario del turno</p></li>
                        <br><br>
                    {% endif %}
                {% endif %}
            {% endfor %}

            <br><br>
            <h2>Pasados</h2>
            {% for turno in turnos_list %}
                {% if turno.fecha != None and turno.hora != None and turno.fecha < now %}
                    <li>
                        {% if usuario.is_escribano %}
                            <p><strong>Nombre del cliente:</strong><br>{{ turno.cliente }}</p>
                        {% else %}
                            <p><strong>Nombre del escribano: </strong></p>
                            <a href=" {% url 'principal:detalle_escribano' turno.escribano_id %} " >{{ turno.escribano }}</a>
                            <br><br><br>
                        {% endif %}
                    <p>Código: {{ turno.id }}</p>
                    <p><strong>Fecha:</strong> {{ turno.fecha }}<br><br>
                    <strong>Hora:</strong> {{ turno.hora }}</p>
                    </li>
                    <br><br>
                {% endif %}
            {% endfor %}
        </ul>
    </div>
{% endblock content %}