{% extends 'base.html' %}

{% block titulo %}Mis turnos{% endblock titulo %}

{% block content %}
    <h1>Mis turnos</h1>
    <div class="lista">
        <ul>
            {% for turno in turnos_list %}
                <li>
                {% if usuario.is_escribano %}
                    <p><strong>Nombre del cliente:</strong><br>{{ turno.cliente }}</p>
                {% else %}
                    <p><strong>Nombre del escribano: </strong></p>
                    <a href=" {% url 'principal:detalle_escribano' turno.escribano_id %} " >{{ turno.escribano }}</a>
                    <br><br><br>
                {% endif %}
                {% if turno.fecha != None or turno.hora != None %}
                    <p><strong>Fecha:</strong> {{ turno.fecha }}<br>
                    <strong>Hora:</strong> {{ turno.hora }}</p> </li>
                    <br><br>
                {% else %}
                    {% if usuario.is_escribano %}
                        <a href="{% url 'principal:editar_turno' turno.pk %}" class="link">Añadir fecha y horario</a></li>
                        <br><br>
                    {% else %}
                        <p>Aún no se ha confirmado el horario del turno</p></li>
                        <br><br>
                    {% endif %}
                {% endif %}
            {% endfor %}
        </ul>
    </div>
{% endblock content %}