{% extends 'base.html' %}

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
{% block titulo%}Validación{%endblock titulo%}
    {% block extraccs%}
    {% endblock extraccs%}
</head>

{% block content %}
    <h1>Validar un documento</h1>
    <form method='POST'>
        {% csrf_token %}
        <label for="usuario">Ingrese el código del documento que desea validar:</label><br>
            <input type="text" id="validar" name="validar"><br>
        <input type="submit" value="validar">
    </form>

    {% block extrajs%}{% endblock extrajs%}
    
{% endblock content %}