body {
    margin: 0ex;
}

header {
    font-family: Calibri, 'Trebuchet MS', sans-serif;
    font-size: 3ex;
    color: seashell;
    background-color: rgb(0, 60, 80);
    padding: 3ex;
}

header a {
    color: seashell;
}

h1 {
    font-family: Calibri, 'Trebuchet MS', sans-serif;
}