<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>LegalDocs - Registro de usuario</title>
    </head>
    <body>
        <ul>
            <li><a href="{% url 'index' %}">Volver al inicio</a></li>
        </ul>

        <h1>Registro de usuario</h1>
        <form>
            <label for="nombre">Nombre/s:</label><br>
            <input type="text" id="nombre" name="nombre"><br>

            <label for="apellido">Apellido/s:</label><br>
            <input type="text" id="apellido" name="apellido"><br>

            <label for="dni">D.N.I.:</label><br>
            <input type="text" id="dni" name="dni"><br>

            <label for="email">Correo:</label><br>
            <input type="text" id="email" name="email"><br>

            <label for="contraseña">Contraseña:</label><br>
            <input type="text" id="contraseña" name="contraseña"><br>

            <label for="confirmcontraseña">Confirmar contraseña:</label><br>
            <input type="text" id="confirmcontraseña" name="confirmcontraseña"><br>

            <label for="matricula">Número de matrícula:</label><br>
            <input type="text" id="matricula" name="matricula"><br>

            <label for="provincia">Provincia:</label><br>
            <input type="text" id="provincia" name="provincia"><br>

            <label for="ciudad">Ciudad:</label><br>
            <input type="text" id="ciudad" name="ciudad"><br>

            <label for="calle">Calle:</label><br>
            <input type="text" id="calle" name="calle"><br>

            <label for="altura">Altura:</label><br>
            <input type="text" id="altura" name="altura"><br>

            <label for="ciudad">Ciudad:</label><br>
            <input type="text" id="ciudad" name="ciudad"><br>

            <label for="piso">Número de puerta:</label><br>
            <input type="text" id="numeroPuerta" name="numeroPuerta"><br>
            
            <input type="submit" value="Registrarme">
        </form>
    </body>
</html>