<!DOCTYPE html>
{% load static %}
<html lang="es">

<head>
    <meta charset="UTF-8">
    <title>LegalDocs | {% block titulo%}{%endblock titulo%}</title>
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
</head>

<body>
    <header>
        <a href="{% url 'principal:index' %}">Inicio</a> |
        <a href="{% url 'principal:validar' %}">Validar un documento</a> |
        <a href="{% url 'principal:buscador_escribano' %}">Buscar escribano</a> |
    
        {% if user.is_authenticated %}
            Hola {{ user.username }}!
            <a href="{% url 'logout' %}">Cerrar sesión</a>
        {% else %}
            <a href="{% url 'login' %}">Ingresar</a> |
            <a href="{% url 'signup' %}">Crear cuenta</a>
        {% endif %}
    </header>

    {% block content %}
    {% endblock content %}

    {% block barra_busqueda %}
    {% endblock barra_busqueda %}
</body>

</html>